body {
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	height: 100vh;
	overflow-x: hidden;
}

#hello {
	height: 100vh;
}

h1 {
	height: 30vh;
	width: 105vh;
	margin-left: 15vh;
	text-align: left;
	font-size: 10vh;
	position: absolute;
}

.hello1 {
	margin-top: 37vh;
}

.hide {
	opacity: 0;
}

.hello2 {
	margin-top: 0vh;
	width: 106vh;
}

.hello3 {
	margin-top: -6.0vh;
}

.hello4 {
	margin-top: 1vh;
}

#dev {
	height: 40vh;
	position: absolute;
	left: 135vh;
	top: 30vh;
	z-index: -3;
}

#scroll {
	width: 44vh;
	text-align: center;
	position: absolute;
	object-fit: cover;
	margin-left: 20vh;
	top: -10vh;
	z-index: -2;
}

#arrow {
	width: 45vh;
	position: absolute;
	object-fit: cover;
	top: 10vh;
	left: 22vh;
}

#blue {
	height: 100vh;
	width: 200%;
	z-index: 0;
	text-align: left;
	background: #a2d5e8;
	color: black;
	position: relative;
	white-space: nowrap;
	/* display: flex; */
	/* flex-wrap: nowrap; */
}

.panel {
	width: 50%;
	height: 100%;
	background-color: tan;
	display: inline-block;
}
